.tags-h2{
margin-top: 30px;
margin-bottom: 20px;
}


.tags-p{

margin-bottom: 10px;
font-size: 15px;
}

.lags-list-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.tag{
    padding: 10px;
    border: solid 1px #d2d2d2;
    border-radius: 2px;
}

.tag h5{
    display: inline-block;
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: #33B89F;
    color: white;
}
.tag p {
    font-size: 14px;
    color: #323232;
}