@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

.primary-bg {
    background-color: #33B89F;
}

.second-bg {
    background-color: #02B1FC;
}

.text-color {
    color: #33B89F;
}

.text-color-second {
    color: #02B1FC;
}

.content{
    min-height: calc(100vh - 88px - 72px);
  }

.bg-button {
    @apply primary-bg px-6 py-3 text-white font-medium rounded-md border-2 border-[#33B89F] hover:bg-white duration-200 hover:text-[#33B89F] flex items-center gap-2 shadow-md hover:shadow-sm
}

.bg-button-small {
    @apply primary-bg px-3 py-1 text-white font-medium rounded-md border-2 border-[#33B89F] hover:bg-white duration-200 hover:text-[#33B89F] flex items-center gap-2 shadow-md hover:shadow-sm
}

.transparent-button {
    @apply bg-white hover:bg-[#33B89F] px-6 py-3 hover:text-white font-medium rounded-md border-2 border-[#33B89F] duration-200 text-color flex items-center gap-2 shadow-sm hover:shadow-md
}

.transparent-button-small {
    @apply bg-white hover:bg-[#33B89F] px-3 py-1 hover:text-white font-medium rounded-md border-2 border-[#33B89F] duration-200 text-color flex items-center gap-2 shadow-sm hover:shadow-md
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #33B89F; /* Thumb color */
    border-radius: 8px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
  }
  